<h1>Player: <i>{{username$ | async | titlecase}}</i></h1>
<div *ngIf="user$ | async as user">
  <p>User Id: {{ user.id }}</p>
  <p>User Name: {{ user.name }}</p>
  <p>User MMR: {{ user.mmr }}</p>
  <p>User Games Played: {{ user.gamesPlayed }}</p>
  <p>User Games Won: {{ user.gamesWon }}</p>

  <h2>Decks</h2>
  <table mat-table [dataSource]="user.decks ?? []">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Deck ID</th>
      <td mat-cell *matCellDef="let deck">{{ deck.id }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Deck Name</th>
      <td mat-cell *matCellDef="let deck">{{ deck.deckName }}</td>
    </ng-container>
    <ng-container matColumnDef="mmr">
      <th mat-header-cell *matHeaderCellDef>Deck MMR</th>
      <td mat-cell *matCellDef="let deck">{{ deck.mmr }}</td>
    </ng-container>
    <ng-container matColumnDef="gamesPlayed">
      <th mat-header-cell *matHeaderCellDef>Games Played</th>
      <td mat-cell *matCellDef="let deck">{{ deck.gamesPlayed }}</td>
    </ng-container>
    <ng-container matColumnDef="gamesWon">
      <th mat-header-cell *matHeaderCellDef>Games Won</th>
      <td mat-cell *matCellDef="let deck">{{ deck.gamesWon }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let deck">
        <a mat-flat-button
           [routerLink]="'/deck/' + deck.id"
           color="primary">
          VIEW
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'name', 'mmr', 'gamesPlayed', 'gamesWon', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'mmr', 'gamesPlayed', 'gamesWon', 'actions'];"></tr>
  </table>

  <button mat-fab color="primary"
          matTooltip="Create Deck for Player"
          (click)="onCreateDeck(user.name)"
          style="position: absolute; right: 50px; bottom: 50px">
    <mat-icon>add</mat-icon>
  </button>
</div>
